aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
chatGPT @ git+https://github.com/mmabrouk/chatgpt-wrapper@0ddb57478acfe4c8c9b46f06ff09903c4b7a1884
click
configobj
frozenlist
google-api-core
google-auth
google-cloud
google-cloud-core
google-cloud-translate
googleapis-common-protos
greenlet
grpcio
grpcio-status
idna
joblib
markdown-it-py
markdownify
mdurl
multidict
nltk
openai
playwright
proto-plus
protobuf
pyasn1
pyasn1-modules
pyee
Pygments
pytube
regex
requests
rich
rsa
six
soupsieve
tqdm
typing_extensions
urllib3
#whisper @ git+https://github.com/openai/whisper.git
yarl
