aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.2
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
chatGPT @ git+https://github.com/mmabrouk/chatgpt-wrapper@0ddb57478acfe4c8c9b46f06ff09903c4b7a1884
click==8.1.3
configobj==5.0.8
frozenlist==1.3.3
google-api-core==2.11.0
google-auth==2.16.1
google-cloud==0.34.0
google-cloud-core==2.3.2
google-cloud-translate==3.10.1
googleapis-common-protos==1.58.0
greenlet==2.0.1
grpcio==1.51.3
grpcio-status==1.51.3
idna==3.4
joblib==1.2.0
markdown-it-py==2.2.0
markdownify==0.11.6
mdurl==0.1.2
multidict==6.0.4
nltk==3.8.1
openai==0.26.5
playwright==1.31.0
proto-plus==1.22.2
protobuf==4.22.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyee==9.0.4
Pygments==2.14.0
pytube==12.1.2
regex==2022.10.31
requests==2.28.2
rich==13.3.1
rsa==4.9
six==1.16.0
soupsieve==2.4
tqdm==4.64.1
typing_extensions==4.5.0
urllib3==1.26.14
whisper==1.1.10
yarl==1.8.2
